# Python virtual environment
.venv/

# Data and Database files
chroma_db/

# Streamlit specific
.streamlit/ 
app_state.json

# Environment variables / API Keys
.env

# IDE specific files
.vscode/ 

# Operating System files
.DS_Store